# Demo Function

This is a demo function for applying the Random Forest Classifier from "eda_model_dev.ipynb"

In [1]:
import pandas as pd

import pickle

In [4]:
def apply_random_forest_classifier(filename):
    
    # load new data
    df = pd.read_csv(filename)
    
    # model expects only key features
    df_key_feat = df[key_features]
    key_features = pickle.load(open('top_ten_features.pkl','rb'))
    
    # load model
    with open("rfm_10_features.pkl", "rb") as f:
        model = pickle.load(f)
    
    # create new dataframe column with predicted
    df['predicted_label'] = model.predict(df_key_feat)
    
    return df

In [5]:
dna_test = apply_random_forest_classifier('DNA_assessment_data.csv')

In [6]:
dna_test.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,label,predicted_label
0,132.214506,0.189355,1,0,1,0,0,0,0,0,0,0,39.878984,0.603909,0,0
1,107.922314,0.798727,0,0,0,0,0,0,0,1,0,0,0.000000,0.243920,1,1
2,103.651530,0.809856,0,0,1,0,0,0,0,1,0,0,4.470139,0.532151,1,1
3,125.002167,0.223210,1,0,1,0,0,0,0,0,0,0,82.024387,1.138413,0,0
4,278.164555,0.086655,1,0,0,0,0,1,0,0,0,0,99.024576,0.611264,0,0